<style>
    .Customer_heading{
        display: flex;
    }
    .Customer_heading h1{
        width: 80%;
        flex: auto;
        font-size: 20px;
    }

    .Customer_heading button{
        text-align: right;        
    }
</style>
<div class="Customer_heading">
        <h1>{{title}}</h1>
        <button class="btn" (click)="toogleCustomer()"><i class="fa fa-bars"></i> {{toogleText}}</button>
</div>


<div *ngIf="isOpen" [@shrinkOut]="isOpen ? 'in' : 'void'">
        <customer-list [customers]="lstCustomers"></customer-list>
</div>

